<h4>Appointment Management</h4>

<table id="appointments-table" class="main-data-table" data-ajax="<%= admin_appointments_path %>">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Student Email</th>
      <th>Teacher Name</th>
      <th>Teacher Email</th>
      <th>Starts At</th>
      <th>State</th>
    </tr>
  </thead>
</table>
