<div>
  <h4 class="card-list-header">MsPan教师</h4>
  <div class="card-list">
    <%= render partial: "student/shared/teacher", collection: @teachers %>
  </div>
  <%= render partial: "student/shared/back_home_button" %>
</div>
