<h4>Teacher Management</h4>

<table id="teachers" class="main-data-table" data-ajax="<%= admin_teachers_path %>">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Notes</th>
      <th>Active</th>
    </tr>
  </thead>
</table>
