<h4>Student Management</h4>

<table id="students-table" class="main-data-table" data-ajax="<%= admin_students_path %>">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Notes</th>
    </tr>
  </thead>
</table>
