<div class="card main-card">
  <div class="profile">
    <div class="pic">
      <%= image_tag appointment.teacher.avatar.url(:medium) %>
    </div>
    <div class="info"><%= appointment.teacher.full_name %></div>
  </div>
  <div class="actions">
    <%= render partial: 'student/shared/appointment_actions', locals: { appointment: appointment } %>
  </div>
</div>
