<%= link_to("重新预约",
  new_student_appointment_path(teacher_id: appointment.teacher.id),
  remote: true,
  class: "btn btn-default btn-raised",
  data: { toggle: "modal", target: "#appointment-modal" }
)%>

<div class="text-center small">
  <span><%= student_format(appointment.updated_at) + " 被取消" %></span>
</div>
