<div>
  <h4 class="card-list-header">全部预约的课程</h4>
  <div class="card-list">
    <%= render partial: "student/shared/appointment", collection: @appointments %>
  </div>
  <div class="text-center">
    <%= link_to("返回我的主页", student_root_path, { class: "btn btn-primary" }) %>
  </div>
</div>