<% content_for :title, "MsPan － 联系我们" %>

<%= render partial: 'short_header' %>

		<!--Head img section-->
		<section class="waypoint" data-hash="head">
			<!--Img block-->
			<div class="img-block features-watch alt-bg" style="padding-top:189px; padding-bottom:173px;">
				<div class="overlay" style="opacity:0.3;"></div>
			</div>
		</section>
 
        <!--Contacts section-->
		<section data-hash="contacts" class="waypoint" >
			<div>
				<div class="spacer" style="height:81px;"></div>
				<!--Contact form block-->
				<div class="container">
					<div class="col-sm-12">
						<div class="row">
							<div class="tAc">
								<h2 class="big" style="max-width:710px; display:inline-block;" data-animation="fadeInUp slow" data-delay="0">联系我们</h2><br />
								<span class="contact-column-1" data-animation="fadeInUp slow" data-delay="0.2">我们努力在24小时之内回复您的留言</span>
								<!-- <form method="post" id="contact_form" name="contact_form" class="big clearfix" action="inc/send.php" data-animation="fadeInUp" data-delay="0.6">		
									<div class="contact-onehalf fLeft"><input type="text" name="name" placeholder="姓名" class="name"></div>
									<div class="contact-onehalf fRight"><input type="email" name="email" placeholder="电子邮箱" class="email"></div>
                                    <div class="clear-2"><input type="tel" name="tel" placeholder="电话 (+86)*" class="tel">
                                    </div>
									<div><textarea name="message" placeholder="请留言 ... ..."></textarea></div>
									<div class="spacer" style="height:12px;"></div>
									<div class="buttons clearfix">
										<button type="submit" class="button8 btn-1 send">发送信息</button>
									</div>
								</form> -->
							</div>
						</div>
                          
                        <div class="spacer" style="height:60px;"></div>
                          
                        <div class="row">
                            <div class="tAc">
                        		    <p class ="adaptBig" style="color:black">邮箱：contact@mspan.cn</p>
                        			<p class ="adaptBig" style="color:black">微信咨询ID（常年24小时在线）：mspan001</p>
                     				<p class ="adaptBig" style="color:black">微信公众号&#9473;MsPan咨询</p>
                     				<div class="spacer" style="height:35px;"></div>
                     				<!-- <div class="tAc"> -->
										<i> 
										    <%= image_tag("home/weixinIcon.png", alt: "",class: "img-responsive", style:"margin: 0 auto; height:30px; width: 30px ") %>
								    		<!-- <img src="img/weixinIcon.png" class="img-responsive" style="margin: 0 auto; height:30px; width: 30px " alt=""> -->
										</i>
										<div class="spacer" style="height:10px;"></div>
										<%= image_tag("home/bo-liang.jpg", alt: "",class: "img-responsive wechatBarCode", style:"margin: 0 auto;") %>
                                		<!-- <img src="img/wechat.jpg" class="img-responsive wechatBarCode" style="margin: 0 auto;" alt=""> -->
                            </div>
                        </div>
                    </div>
                </div>
				<div class="spacer" style="height:78px;"></div>
			</div>
		</section>

<%= render partial: 'footer' %>

