<div>Home page</div>

<%= link_to("Teacher Log In",
  "#teacher_login",
  class: "btn btn-default",
  data: { toggle: "modal", target: "#teacher-login-modal" }
)%>
<%= link_to("用户登录",
  "#student_login",
  class: "btn btn-default",
  data: { toggle: "modal", target: "#student-login-modal" }
)%>
