<h4 class="text-center">The Application Instructions - Video Requirements</h4>

<div>We truly respect and appreciate all the time and efforts you put into this application process.  We recognize you may have personal stories or experience related to the job you wish to share, and we want you to have every opportunity to best represent yourself and your teaching style. 
As part of the application, we require that you submit a short (no more than 5 minutes in length) video that addresses the following two questions:</div>

<ol>
  <li>Please introduce yourself briefly including your background, field of study, hobbies, as well as any interesting things or experience related to the job.</li>
  <li>Why are you interested in working with MsPan as an ESL teacher helping students in China?</li>
</ol>

<div>Please upload the video to YouTube, Google drive or Dropbox, and share the link with us while you are entering the information on the application signup page. Alternatively,  you may email your video or the link directly to <%= mail_to "teacher@mspan.cn" %></div>
