<div class="card main-card english-card">
  <div class="profile">
    <div class="pic">
      <%= image_tag appointment.student.avatar.url(:medium) %>
    </div>
    <div class="info"><%= appointment.student.full_name %></div>
  </div>
  <div class="actions">
    <%= render partial: 'teacher/shared/appointment_actions', locals: { appointment: appointment } %>
  </div>
</div>
