<div class="card-list-wrapper">
  <h4 class="card-list-header">Next Lesson</h4>
  <div class="card-list">
    <%= render partial: "teacher/shared/appointment", locals: { appointment: @next_scheduled_appointment } %>
  </div>
  <div>
    <%= link_to teacher_appointments_path(state: :new), { class: "btn btn-link pull-right" } do %>
      All Scheduled
    <% end %>
  </div>
</div>
