<div class="card-list-wrapper">
  <h4 class="card-list-header">Recent Lesson</h4>
  <div class="card-list">
    <%= render partial: "teacher/shared/appointment", collection: @uncompleted_appointments %>
  </div>
</div>
