<h4>About MsPan</h4>

<!-- <div class="spacer" style="height:20px;"></div>
<p>MsPan 精英引领 伴随始终</p> -->

<div class="spacer" style="height:20px;"></div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">What is MsPan? </p>
    <div>
        <p>MsPan is an online language-learning institution that connects English language learners in China to qualified native English teachers/tutors in US for one-on-one sessions through live video chat. </p>
	</div>
</div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">What does MsPan do for you?</p>
    <div>
    	<p>
    	MsPan supports student-teacher/tutor matching, appointment management, and payment processing. <br> 
        MsPan provides student-teacher/tutor coaching sessions in order to faciliate better learning and teaching experience. <br>
        MsPan distributes payment, originated from students, to teachers/tutors.  MsPan offers convenience and protection in the collection of tutoring payments.</p>
	</div>
</div>
<hr>
<div class="spacer" style="height:75px;"></div>
