<h4>Contact Us</h4>

<div class="spacer" style="height:20px;"></div>
<p>We will handle your request within 24 hours.</p>

<hr>
<div class="spacer" style="height:40px;"></div>

<div class="row">
    <p style="color:black">Email：teacher@mspan.cn</p>
</div>

<div class="spacer" style="height:35px;"></div>

<div class="row">
    <p style="color:black">Please check our
    <%= link_to "FAQ", teacher_faq_path %> page. </p>
</div>

<div class="spacer" style="height:75px;"></div>
<div class="text-center">
    <%= link_to("Back to home", teacher_root_path, { class: "btn btn-primary" }) %>
</div>
