<h4>FAQ</h4>

<div class="spacer" style="height:20px;"></div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">What equipment do I need as a MsPan teacher/tutor?</p>
    <div>
		<p>1) High-speed internet. <br>
		   2) A desktop or a laptop with a webcam. <br>
		   3) A headset with microphone. <br>
           Please make sure you test the equipment beforehand.
		</p>
	</div>
</div>

<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">How to make my lessons easy to follow for the ESL leaners? </p>
    <div>
		<p>Simplicity. <br>
Articulated delivery. <br>
Facial expression. <br>
Dynamic tones, pitches, and volumes. <br>
Inviting attitude. <br>
Showing personal attention.
</p>
	</div>
</div>

<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">How many students do I teach in each class?
</p>
    <div>
		<p>All MsPan classes are one-on-one private sessions at this point. 
</p>
	</div>
</div>

<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">How long is each class?
</p>
    <div>
		<p>Each session is guaranteed 45 minutes of active teaching time. After that, teachers/tutors may take a few minutes to leave comments. The total time commitment is 50 minutes per session, not including preparation time. 3 minutes are allowed for possible techinical problems before a lesson is conducted.
</p>
	</div>
</div>

<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Do I need to prepare any teaching materials?</p>
    <div>
		<p>1. We will provide you a teaching manual which helps you get started and effectively teach Chinese students to learn English as a second language. <br>
2. We also provide Education Products that are designed by professional educators. These Education Products contain structured topics and learning modules. <br>
3. We are interested in collaborating with you, and we are looking for you to participate and share individual teaching and learning styles with their students.</p>
	</div>
</div>

<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Do teachers/tutors always teach the same students?</p>
    <div>
		<p>It is preferable to have teachers/tutors teach the same students in MsPan.</p>
	</div>
</div>

<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">I’m getting popular, can I update my rate to a higher level?</p>
    <div>
		<p>Yes. However MsPan teachers/tutors are prohibited from collecting or requesting payment directly from MsPan students by any methods. All changes to the agreed-upon schedules or rates should be either mediated through MsPan or reported to us as soon as they are made.</p>
	</div>
</div>

<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">What if I can not make it for the class?</p>
    <div>
        <p>If one party cancels a pre-scheduled lesson fewer than 24 hours in advance or fails to show up for a scheduled lesson without a valid reason (subject to MsPan’s judgment), the other party reserves the right to request $15 compensation from the offending party. </p>
        <p>If the offending party is a teacher/tutor, this amount will be automatically deducted from their payment due. </P>
        <p>If it is a student, $15 will be automatically added to the teacher/tutor’s payment due. </P>
        <p>MsPan reserves the right to discontinue contracting any teachers/tutors who consistently cancel or fail to show up for lessons. </p>
        <p>Similarly, tutors/teachers should notify MsPan if they encounter a student who consistently cancels or fails to show up for lessons.</p>
    </div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>
<div class="text-center">
    <%= link_to("Back to home", teacher_root_path, { class: "btn btn-primary" }) %>
</div>