<h4>Report Issues</h4>

<div class="spacer" style="height:20px;"></div>
<hr>

<div class="row">
    <div>
        <p>If there's any issues during the class time, please contact us at <span style="color:blue">teacher@mspan.cn.</span> </p>
    </div>
</div>
<hr>

<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">No show policy</p>
    <div>
        <p>If one party cancels a pre-scheduled lesson fewer than 24 hours in advance or fails to show up (15 mins late) for a scheduled lesson without a valid reason (subject to MsPan’s judgment), the other party reserves the right to request $15 compensation from the offending party. </p>
        <p>If the offending party is a teacher/tutor, this amount will be automatically deducted from their payment due. </P>
        <p>If it is a student, $15 will be automatically added to the teacher/tutor’s payment due. </P>
        <p>MsPan reserves the right to discontinue contracting any teachers/tutors who consistently cancel or fail to show up for lessons. </p>
        <p>Similarly, tutors/teachers should notify MsPan if they encounter a student who consistently cancels or fails to show up for lessons.</p>
    </div>
</div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Late policy</p>
    <div>
        <p>If one party is late for the scheduled lesson for more than 15 minutes, it will be considered as "no show". The "no show policy" applies. </p>
        <p>If a student is late for the scheduled lesson for less than 15 mins: the teacher may decide to dismiss the class according to the scheduled time, and it is still considered as a full 45 minute class.
        </p>
        <p>If a teacher/tutor is late for the scheduled lesson for less than 15 minutes: the teacher has obligation to conduct a full 45 minute class. 
        </p>
        <p>Tutors/teachers should notify MsPan if they encounter a student who consistently late for lessons.</p>
    </div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>
<div class="text-center">
    <%= link_to("Back to home", teacher_root_path, { class: "btn btn-primary" }) %>
</div>