<h4>Lessons</h4>

<div class="spacer" style="height:20px;"></div>
<p>Update availability －> Know your student －> Read teacher's manual －> Start your lessons</p>

<div class="spacer" style="height:20px;"></div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Prepare to teach</p>
    <div>
        <p>Step1. Update availabilities on the calendar regularly by marking green.</p>
        <p>Step2. MsPan helps find students, and discusses the student's needs or requirement.</p>
        <p>Step3. Please read <%= link_to "teacher manual", teacher_manual_path %>. </p>
    	<p>Step4. Please make sure ZOOM is installed properly.</p>
	</div>
</div>
<hr>

<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Start a lesson</p>
    <div>
        <p>1. Once there's a lesson appointment, MsPan platform sends out an email notification.</p>
        <p>2. MsPan platform sends an email reminder 12 hrs before the lesson begins.</p>
        <p>3. 5 mins before the lesson begins, you may login MsPan and click "Join". It lauches ZOOM for you.</p>
        <p>4. You may login MsPan at anytime to manage your lessons.</p>
	</div>
</div>
<hr>

<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Cancel a lesson</p>
    <div>
        <p>1. Teacher/tutor may cancel a scheduled lesson. However, they are required to cancel it through MsPan account at least 24 hours before the scheduled start time.</p>
        <p>2. Once a lesson is canceled by a student, system-generated email notification will be sent to teacher/tutor. It is the teacher/tutor’s responsibility to check this email regularly. </p>
	</div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>
<div class="text-center">
    <%= link_to("Back to home", teacher_root_path, { class: "btn btn-primary" }) %>
</div>
