<h4>Teacher Manual</h4>

<div class="spacer" style="height:20px;"></div>
<p>MsPan - How to achieve easy-to-follow for ESL learners from China ?</p>
<hr>

<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Knowing your students:</p>
    <div>
        <p>In China, most of the students start to learn English since elementary school. They put most of their efforts in reading, writing and memorizing grammars and structures, so by the time they finish high school, most of them have a good understanding of English language on paper. However, they have very few opportunities to practice speaking English both inside and outside of the classroom.</p>
        <br>
        <p>Therefore, the challenge for them in general are:</p>
        <p style="font-weight: bold">1) Listening and Comprehending:</p>
        <p>They have a hard time following and understanding a native speaker during the conversation, due to the speaking pace and cultural differences.</p>
        <p style="font-weight: bold">2) Lack of Confidence:</p>
        <p>They might be very shy at the beginning, because they are afraid of making mistakes, and are often very self-conscious about their accent.</p>
        <p style="font-weight: bold">3) Questioning and Communication Skills:</p>
        <p>They tend to not ask questions even when they are confused, because in Chinese culture, it is frowned upon when students interrupt their teacher during a lesson. As a result, most of the students are “passive learners” that they don’t ask questions.</p>
    </div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>

<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Teaching Objectives:</p>
    <div>
        <p>You will be holding a 1-on-1 conversation session each time when you meet with your student to talk about different topics. <span style="font-weight: bold">The teacher needs to create a welcoming learning environment of rapport </span>since the students might be very shy and self-conscious at first, and the teacher needs to constantly encourage and remind the student to speak up and talk in the target language. Your goal as a teacher is to help them to improve their English pronunciation and proficiency and to build up their confidence in speaking with English native speakers.</p>
    </div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>

<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">How to achieve easy-to-follow for ESL learners?</p>
    <div>
        <p>1.Speak clearly and slowly.</p>
        <p>2.Use pictures and slides as visual aids.</p>
        <p>3.Use simpler and shorter sentences structures.</p>
        <p>4.Be very logical and coherent when explaining things.</p>
    </div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>

<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">How to help your student describe a full story successfully?</p>
    <div>
        <p style="font-weight: bold">1. Elicit ideas.</p>
        <p>Engage your student in a conversation to let him/her try to tell the story for the first time, and while at the same time asking questions like “where”, “why”, “how” to encourage your student to collect ideas and elaborate details.</p>
        <p style="font-weight: bold">2. Repeat the story.</p>
        <p>Ask your student to repeat the story from the beginning on his/her own.</p>
        <p style="font-weight: bold">3. Providing feedbacks and demonstration.</p>
        <p>Comment on how you student did and where he/she can improve, and demo the story like how you as a native speaker would say it with your own touch of vocabulary, structures, logic and personal style.</p>
        <p style="font-weight: bold">4. Repeat again.</p>
        <p>Ask your student to repeat describing the story/topic again. And this time, you might find your student have improved and learned a lot!</p>
    </div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>

<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">How to encourage ESL learners to speak up more?</p>
    <div>
        <p>1. Set the tone from the day one that it’s okay to make mistakes.</p>
        <p>2. Encourage your students to ask questions by creating a welcoming learning environment and providing positive comments.</p>
        <p>3. Avoid asking “yes/no” questions, instead, ask open-ended questions, such as “why”, “how”, “can you describe”, “what do you think” questions.</p>
        <p>4. Always takes time to check regularly if your student is understanding your lesson by asking questions and providing feedbacks.</p>
        <p>5. When students are struggling with expressing themselves, either couldn’t find the right words, or couldn’t formulate a full sentence, take the opportunity to offer suggestions to prompt your students to describe their thoughts.</p>
        <p>6. If your students speak fragmented sentences, help/make sure they learn to complete their sentences.</p>
    </div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>

<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Things you already know: How to warm up your first lesson:</p>
    <div>
        <p>1). Greet and welcome your student and briefly introduce yourself (name, current profession, where are you from, city you currently live in, etc.)</p>
        <p>2). Explain that the goal of the first lesson is to get to know each other as well as give you a sense of the student’s current English level.</p>
        <p>3). Ask the student to introduce themselves. If they do not know how to respond, you can use the following questions to encourage the student to talk with you.</p>
        <p>Where are you from?<br>
        Are you a student? What school do you go to?<br>
        What’s your major? Do you like it? Are you currently working?<br>
        Can you tell me more about your job? <br>
        What’s do you want to do for your future after you graduate from college?<br>
        </p>
    </div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>
<div class="text-center">
    <%= link_to("Back to home", teacher_root_path, { class: "btn btn-primary" }) %>
</div>