<h4>Payment</h4>

<div class="spacer" style="height:20px;"></div>
<hr>

<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Payment distribution</p>
    <div>
        <p>MsPan makes payments via PayPal. Payments are sent to the PayPal address provided by the teacher/tutor on the 1st and 15th of each month. </p>
        <p>If you need to amend your PayPal information, please contact MsPan at <span style="color:blue">teacher@mspan.cn.</span></p>
    </div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>


<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Pre-commission rate per 45-min lesson:</p>
    <div>
        <p>MsPan's teacher/tutor may set their own rates ($20, $25 and $30) for the 1-on-1 lessons. </p>
        <p>A reasonable rate is based on the teachers'/tutors' qualifications, such as teaching experience, Chinese English bilinguality and popularity. </p>
    </div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>

<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">Commission:</p>
    <div class="col-xs-6">
		<p>Cumulative sessions</p>				
	</div>
	<div class="col-xs-6">
		<p>You will be paid</p>				
	</div>
	<div class="col-xs-6">
		<p>1 - 10 lessons</p>				
	</div>
	<div class="col-xs-6">
		<p>70% of your rate</p>				
	</div>
	<div class="col-xs-6">
		<p>11 - 50 lessons</p>				
	</div>
	<div class="col-xs-6">
		<p>73% of your rate</p>				
	</div>
	<div class="col-xs-6">
		<p>51 - 150 lessons</p>				
	</div>
	<div class="col-xs-6">
		<p>76% of your rate</p>				
	</div>
	<div class="col-xs-6">
		<p>151 - 300 lessons</p>				
	</div>
	<div class="col-xs-6">
		<p>79% of your rate</p>				
	</div>
	<div class="col-xs-6">
		<p>301 + lessons</p>				
	</div>
	<div class="col-xs-6">
		<p>82% of your rate</p>				
	</div>
</div>
<hr>
<div class="spacer" style="height:20px;"></div>
<div class="text-center">
    <%= link_to("Back to home", teacher_root_path, { class: "btn btn-primary" }) %>
 </div>
