<div class="card-list-wrapper">
  <h4 class="card-list-header">更新个人信息</h4>
  <div class="card-list">
    更新我的<%= link_to "个人信息", edit_student_profile_path %>，以方便MsPan教务与我联系，达到外教匹配度的最优化。
  </div>
</div>
