<div class="card-list-wrapper">
  <h4 class="card-list-header">最近课程</h4>
  <div class="card-list">
    <%= render partial: "student/shared/appointment", collection: @uncompleted_appointments %>
  </div>
</div>
