<h4>了解MsPan</h4>

<div class="spacer" style="height:20px;"></div>
<p>MsPan 精英引领 伴随始终</p>

<div class="spacer" style="height:20px;"></div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">MsPan是什么，我能从MsPan得到什么样的服务？</p>
    <div>
        <p>英语口语能力的培养逐渐受到越来越多的重视。</p>
        <p>口语问题所导致的“社交问题”成为广大中国留学生能否顺利完成学业、成功找到工作的一个门槛。</p>
        <p>MsPan希望能够通过高质量外教一对一口语练习服务，帮助大家解决英语口语问题，树立信心，为留学做准备。</p>
    	<p>
        ＭsPan为您精心挑选了具备TESOL英语教师资格证书和北美常春藤在校精英大学生的强大师资队伍，让您轻松学口语，随时和地道美音外教交流，体验美国本土文化和风情，帮助您认识美国，了解美国，融入美国。</p>
        <p>
        ＭsPan为您定制高品质的英语学习体验计划，使您能循序渐进，事半功倍，更高效的提升英语水平。
	    </p>
	    <p>相信MsPan能带给您全新的体验，为您的进步起到画龙点睛的作用。</p>
	</div>
</div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">MsPan的愿景是什么？</p>
    <div>
    	<p>
    	1. MsPan希望提供给学员一个最纯净、最真实的学习英语口语的环境。帮助出国留学人员提前做好准备，提升口语能力，了解美国生活、文化、校园，顺利的完成美国学业。</p>
    	<p>
        2. MsPan能为国内的英语爱好者、美国文化爱好者、外企职员提供英语口语练习平台，让大家能有机会和美国年轻人多多交流，增进友谊。</p>
	</div>
</div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">MsPan的团队成员和师资组成如何？</p>
    <div>
    	<p>
    	MsPan的创始成员均毕业于美国Top School，在美国教育，科技，金融，工程领域学习工作多年。MsPan的老师有来自于美国常春藤的精英在校大学生，也有拥有美国教师资格证的优秀老师。
	    </p>
	</div>
</div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">MsPan的授课模式是什么？</p>
    <div>
    	<p>
    	MsPan采用互联网电话会议的形式，让学员足不出户，便可与大洋彼岸北美精英大学生和具有英语教师资格证的外教进行一对一上课。
	    </p>
	</div>
</div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">为什么选择MsPan？</p>
    <div>
    	<p>
    	因为有留美经历的我们，知道您最需要什么。
团队核心成员均毕业于美国常春藤名校，我们每一个人都一步步经历了备考托福雅思的痛苦、申请择校选择专业的迷茫、拿到学校offer后对新生活新环境的不安、 对名校学业压力的恐惧、以及对毕业后是否能留美工作的焦虑。如今回望这段经历，感慨万千，有太多的挣扎和纠结，这期间我们走了不少弯路，也浪费了不少宝贵的时间。正是因为这段人生经历，我们想做的就是：为同样有梦想的您，同样在努力中前进的您，提供最有效的方法，最实用的资源，最宝贵的经验 , 让您 少走弯路。这条路上MsPan与您并肩作战，您最需要的帮助和资源都在这里。We’ve been there before, and we know how hard it is, and that’ why we can help you.
	    </p>
	</div>
</div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">我考过了托福，是否需要MsPan？</p>
    <div>
    	<p>
    	美国大学学业繁重，时间紧迫，教授讲课内容多、语速快，有很多中国留学生虽然托福高分，但是来到美国后非常不适应。例如，在学校和同学老师不能很顺利的交流沟通，在求职过程中无法完整表达自己的思路和见解。所以在登陆美国之前非常需要找个美国人努力练习口语和听力，尽量多的了解美国文化，让自己更自信地表达，更流畅地应用。
	    </p>
	</div>
</div>
<div class="spacer" style="height:75px;"></div>