<h4>联系我们</h4>

<div class="spacer" style="height:20px;"></div>
<p>我们努力在24小时之内回复您的留言</p>

<hr>
<div class="spacer" style="height:40px;"></div>
<div class="row">
    <p style="color:black">微信咨询：</p>
    <p style="color:black">Bo Liang：BoLYANG</p>
    <%= image_tag("home/weixinIcon.png", alt: "",class: "img-responsive", style:"margin: 0 auto; height:30px; width: 30px ") %>
	</i>
	<div class="spacer" style="height:10px;"></div>
	<%= image_tag("home/bo-liang.jpg", alt: "",class: "img-responsive wechatBarCode", style:"margin: 0 auto;") %>
</div>
<div class="spacer" style="height:35px;"></div>
<div class="row">
    <p style="color:black">邮件咨询：contact@mspan.cn</p>
</div>
<div class="spacer" style="height:35px;"></div>