<div>
  <h4 class="card-list-header">我的教师列表</h4>
  <div class="card-list">
    <%= render partial: "student/shared/teacher", collection: @teachers %>
  </div>
  <div>
    <%= link_to student_teachers_path, { class: "btn btn-link pull-right" } do %>
      <i class="fa fa-plus" aria-hidden="true"></i> 添加教师
    <% end %>
  </div>
</div>
