<div>
  <% if @uncompleted_appointments.present? %>
    <%= render 'uncompleted_appointments' %>
  <% end %>

  <% if @next_scheduled_appointment.present? %>
    <%= render 'next_scheduled_appointment' %>
  <% end %>

  <%= render 'my_teachers' %>
</div>
