<h4>关注我们</h4>

<div class="spacer" style="height:20px;"></div>
<p>艰难留学路，我想为你做些事。</p>
<hr>

<div class="spacer" style="height:40px;"></div>

<div class="row">
    <p style="color:black">微信公众号：MsPan美国外教口语</p>
    <div class="spacer" style="height:35px;"></div>
	<i> 
    <%= image_tag("home/weixinIcon.png", alt: "",class: "img-responsive", style:"margin: 0 auto; height:30px; width: 30px ") %>
	</i>
	<div class="spacer" style="height:10px;"></div>
	<%= image_tag("home/wechat.jpg", alt: "",class: "img-responsive wechatBarCode", style:"margin: 0 auto;") %>
</div>
