<h4>上课流程</h4>

<div class="spacer" style="height:20px;"></div>
<p>填写个人信息 －> 免费咨询 －> 制定学习计划－> 缴纳学费 －> 开始上课</p>

<div class="spacer" style="height:20px;"></div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">具体流程：</p>
    <div>
        <p>Step1. 请您填写基本信息，留上联系方式，方便MsPan与您联系。</p>
        <p>Step2. MsPan解答您的问题，预约一对一交流时间。</p>
        <p>Step3. 通过跟您的沟通了解您的需求后，为您选择最合适的外教和制定上课计划。</p>
    	<p>Step4. 您可以与选定的外教预约体验课。如果您满意推荐外教，可以开始付费上课。</p>
        <p>Step5. 自主选择上课时间，上课时长，上课频率，学习学习再学习，全面提高口语。</p>
	</div>
</div>
<hr>
<div class="text-center">
  <%= link_to("返回我的主页", student_root_path, { class: "btn btn-primary" }) %>
</div>
