<h4>约课规则</h4>

<div class="spacer" style="height:20px;"></div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">预约课程：</p>
    <div>
        <p>MsPan学员需要至少提前24小时预约课程。</p>
	</div>
</div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">取消课程：</p>
    <div>
        <p>上课前24小时学员将无法取消课程。</p>
	</div>
</div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">上课提醒：</p>
    <div>
        <p>学员在上课前12小时将收到MsPan系统发送的上课提醒邮件。</p>
	</div>
</div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">上课问题：</p>
    <div>
        <p>为保证学员接受高质量的服务，上课出现任何问题，请及时与我们联系。</p>
	</div>
</div>
<hr>
