<h4>体验课</h4>

<div class="spacer" style="height:20px;"></div>

<div class="spacer" style="height:20px;"></div>
<hr>
<div class="row">
    <div>
        <p>报名过程中，您可以与外教预约时长为20分钟的体验课。</p>
        <p>您需要在体验课之前支付50元的定金，如果体验课结束，您选定和这个外教继续上课，本次体验课为免费，定金将充值进您的账户，用于后续课程预约。</p>
        <p>如果体验课结束，您不能决定继续预约上课，我们将扣除本次50元定金作为外教的体验课课时费以及MsPan的报名手续费。</p>
	</div>
</div>
<hr>
<div class="spacer" style="height:75px;"></div>
<div class="text-center">
  <%= link_to("返回我的主页", student_root_path, { class: "btn btn-primary" }) %>
</div>
