<h4>学费相关</h4>

<div class="spacer" style="height:20px;"></div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">学费支付：</p>
    <div>
        <p>MsPan实行0捆绑0风险式付费方式。</p>
        <p>您可以完全按照课时结算，在上课之前只要账户有足够一次课的余额，即可预约课程。</p>
        <p>一个课时为45分钟，最低结算单位为一个课时。</p>
        <p>支付宝，微信，银行卡转账均可付款。如果中途选择更改付款方式，可咨询报名时的课程规划师。</p>
	</div>
</div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">课时费用：</p>
    <div>
        <p>每位外教费用公开，透明。每课时为45分钟，课时费用为680元。 </p>
        <p>课时费由外教个人制定，用户预约外教时自动同意外教的付费标准。</p> 
        <p>本定价是根据现行的汇率而制定的。如果汇率有所变动，我们也需要做相应调整，届时我们会通知所有学员。</p>
	</div>
</div>
<div class="spacer" style="height:75px;"></div>
<div class="text-center">
  <%= link_to("返回我的主页", student_root_path, { class: "btn btn-primary" }) %>
</div>
