<h4>视频软件</h4>

<div class="spacer" style="height:20px;"></div>
<hr>
<div class="row">
    <p style="margin-bottom:18px;font-size:20px; color:black">安装ZOOM：</p>
    <div>
        <p>MsPan外教将使用ZOOM软件与您交流学习。该软件可实现屏幕分享这一重要功能，方便外教为您同步展示教学资料和课件。</p>
        <p> 操作方法简便易行：</p>
		<p>	1. 下载ZOOM软件，无需注册个人账号；(<a href="http://www.zoom.cn/download/" style="color:blue">点击此处下载ZOOM</a>)</p>
		<p> 2. 开课前5分钟，在您预约的课程卡片上将显示“进入房间”。 点击进入外教会议室，开始上课。</p>
		<br>
		<p>为了保证上课流畅，MsPan将协助您在课前测试ZOOM和网络。</p>
	</div>
</div>
<hr>
<div class="spacer" style="height:75px;"></div>
<div class="text-center">
  <%= link_to("返回我的主页", student_root_path, { class: "btn btn-primary" }) %>
</div>
