$small-screen: 767px;

#editable-calendar {
  .fc-toolbar {
    .fc-left {
      h2 {
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: $small-screen) {
    height: 300px;
    overflow-y: scroll;
  }
}