.card-list-wrapper {
  margin-bottom: 60px;
}

.card-list-header {
  font-size: 1.2em;
}

.main-card {
  height: 150px;
  max-width: 530px;

  .profile {
    height: 100%;
    display: inline-block;
    float: left;

    .pic {
      height: 100%;
      display: inline-block;
      float: left;

      img {
        height: 100%;
      }
    }

    .info {
      display: inline-block;
      float: left;
      margin-left: 10px;
      margin-top: 30px;
      font-size: 1.2em;
      font-style: bold;
      max-width: 200px;
      overflow: hidden;
    }
  }

  .actions {
    display: inline-block;
    float: right;
    width: 130px;
    height: 100%;
    padding-top: 20px;

    div {
      padding-right: 15px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  .content {
    padding: 20px;
  }
}

.english-card {
  a {
    font-size: 0.8em;
  }
}
