$header-grey: #787b83;
$header-divider-color: #8c8f96;
$light-grey: #ddd;

$large-screen: 768px;

.student-header {
  font-size: 110%;
}

.v-divider {
  border-left: 1px solid $header-divider-color;
}

.navbar-grey {
  background-color: $header-grey;
  border: none;
}

// TODO find alternative for !important
.navbar-brand {
  color: white !important;
}

.navbar li a {
  color: white !important;
}

.dropdown-menu li a {
  @media screen and (min-width: $large-screen) {
    color: $header-grey !important;
  }
}

.navbar-default .navbar-nav .open .dropdown-toggle {
  background-color: $header-divider-color !important;
}

.navbar-default .navbar-toggle:hover {
  background-color: $header-divider-color !important;
}

.navbar-default .navbar-toggle:focus {
  background-color: $header-divider-color !important;
}

.navbar-toggle .icon-bar {
  background-color: $light-grey !important;
}
