@import "appointment";
@import "availability";
@import "card";

@import "sidebar";

@import "header";
@import "footer";

body {
  color: $header-grey;
  background-color: #f8f8f8;
}

.main-row {
  margin-top: 20px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.vertical-table {
  tr { display: block; float: left; }
  th, td { display: block; }
}

div.jGrowl div.jGrowl-notification {
  background-color: #ccc;
  color: #3d3d3d;
}

div.jGrowl div.jGrowl-notification.error {
  color: red;
}

.green {
  color: #55a04a;
}

.no-decor {
  color: black;
}

.no-decor:hover {
  text-decoration: none;
  color: black;
}

.no-decor:focus {
  text-decoration: none;
  color: black;
}
