<footer class="footer">
  <div class="container">
    <% if current_student %>
      <%= render "layouts/student_footer" %>
    <% elsif current_teacher %>
      <%= render "layouts/teacher_footer" %>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <li><p class="text-muted copyright">MsPan <span class="glyphicon glyphicon-copyright-mark"></span> <%= Date.today.year %></p></li>
    </ul>
  </div>
</footer>
