<div class="modal fade" id="ajax-modal" title="">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
    <h4 class="modal-title"></h4>
  </div>
  <div class="modal-body">
    <div class="modal-body-content"></div>
    <div class="ajax-loader"></div>
  </div>
  <div class="modal-footer">
    <button aria-hidden="true" class="btn modal-close" data-dismiss="modal">Close</button>
  </div>
</div>
