<ul class="nav navbar-nav navbar-right student-header">
  <li><a href="#"><%= Time.now.strftime('%H:%M') %></a></li>
  <li class="v-divider"><a href="#">$150</a></li>
  <li class="dropdown v-divider">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">梁波 <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">个人信息</a></li>
      <li><a href="#">预约的课程</a></li>
      <li><a href="#">完成的课程</a></li>
      <li><a href="#">取消的课程</a></li>
      <li><%= link_to('退出登录', destroy_teacher_session_path, :method => :delete) %></li>
    </ul>
  </li>
</ul>
