<div class="quick-links-label">相关链接</div>

<ul>
  <li><a href="#">用户指南</a></li>
  <li><a href="#">课程推荐</a></li>
  <li><a href="#">怎么约课</a></li>
  <li><a href="#">怎么付款</a></li>
  <li><a href="#">请求帮助</a></li>
</ul>
