<div class="sidebar hidden-xs">
  <%= render 'layouts/student_profile' %>

  <div class="stats">
    <%= render 'layouts/student_stats' %>
  </div>

  <div class="quick-links">
    <%= render 'layouts/student_quick_links' %>
  </div>
</div>