<%= link_to edit_student_profile_path, class: "no-decor" do %>
  <div class="profile">
    <div class="pic">
      <%= image_tag current_student.avatar.url(:medium) %>
    </div>
    <div class="name">
      <%= current_student.full_name %>
    </div>
  </div>
<% end %>
