<div class="profile">
  <%= link_to edit_student_profile_path, :class => "no-decor" do %>
    <div class="pic">
      <%= image_tag("no_profile_image") %>
    </div>
    <div class="name">
      <%= current_student.full_name %>
    </div>
  <% end %>
</div>
