<ul class="nav navbar-nav hidden-xs">
  <li><%= link_to "了解我们", student_about_path %></li>
  <li><%= link_to "联系我们", student_contact_path %></li>
  <li><%= link_to "关注我们", student_follow_path %></li>
  <li><%= link_to "法律声明", student_terms_path %></li>
</ul>
