<%= link_to teacher_profile_path, class: "no-decor" do %>
  <div class="profile">
    <div class="pic">
      <%= image_tag current_teacher.avatar.url(:medium) %>
    </div>
    <div class="name">
      <%= current_teacher.full_name %>
    </div>
  </div>
<% end %>
