<div class="sidebar card hidden-xs">
  <%= render 'layouts/teacher_profile' %>

  <div class="stats english-stats">
    <%= render 'layouts/teacher_stats' %>
  </div>

  <div class="quick-links">
    <%= render 'layouts/teacher_quick_links' %>
  </div>
</div>