<ul class="nav navbar-nav hidden-xs">
  <li><%= link_to "About Us", teacher_about_path %></li>
  <li><%= link_to "Support", teacher_contact_path %></li>
  <li><%= link_to "Terms", teacher_terms_path %></li>
</ul>