<ul class="nav navbar-nav navbar-right">
  <li><a href="#"><%= Time.now.strftime("%I:%M %P") %></a></li>
  <li class="dropdown v-divider">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ms Awesome <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Scheduled</a></li>
      <li><a href="#">Finished</a></li>
      <li><a href="#">Cancelled</a></li>
      <li><%= link_to('Logout', destroy_teacher_session_path, :method => :delete) %></li>
    </ul>
  </li>
</ul>
