<div class="container" >
      <!-- Modal -->
      <div class="modal fade" role="dialog" id="teacher-login-modal" title="Teacher Log In">
          <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="fa fa-sign-in"></span> Teacher Log In </h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div class="modal-body-content">
                      <%= render "teachers/shared/login_form" %>
                    </div>
                    <div class="ajax-loader"></div>
                </div>
                <div class="modal-footer">
                      <%= link_to "Apply To Teach", new_registration_path(:teacher) %><br/>
                      <%= link_to "Forgot your password?", new_password_path(:teacher) %>
                </div>
            </div>
          </div>
      </div>
</div>
