<div class="quick-links-label">Quick Links</div>

<ul>
  <li><a href="#">How to set up my calendar</a></li>
  <li><a href="#">How to start a scheduled lesson</a></li>
  <li><a href="#">How to cancel a lesson</a></li>
  <li><a href="#">How to report an issue related to lesson</a></li>
  <li><a href="#">When to expect earning</a></li>
  <li><a href="#">How to update my profile</a></li>
  <li><a href="#">How to qualify for more classes</a></li>
  <li><a href="#">Ask help</a></li>
</ul>
